@{
    ViewData["Title"] = "Home Page";
}
@model List<MovieApp.Models.ViewModels.MovieViewModel>
<div>
    <h1>Welcome to the Movie App.</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Illo doloremque ducimus, neque officia distinctio reprehenderit maiores molestiae laudantium in.
        Commodi vitae, deserunt est magni quam eius ipsum quaerat ea! Commodi.
    </p>
</div>

